@model IEnumerable<Rental4You.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Born Date
            </th>
            <th>
                NIF
            </th>
            <th>
                Available
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bornDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.available)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
