@model IEnumerable<Rental4You.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Brand
            </th>
            <th>
                Begin Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ApplicationUser.UserName</td>
                <td>@item.ApplicationUser.firstName</td>
                <td>@item.ApplicationUser.lastName</td>
                <td>@Html.DisplayFor(modelItem => item.vehicle.brand)</td>
                <td>@Html.DisplayFor(modelItem => item.BeginDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
            </tr>
        }
    </tbody>
</table>
