@model Rental4You.ViewModels.ReservationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Reservations</h1>


<!-- Search Start -->
@using (Html.BeginForm("ListCompanyReservations", "Reservations", FormMethod.Get))
{
    <div class="container-fluid bg-white pt-3 px-lg-5">
        <div class="row mx-n2">
            <!--
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <select asp-for="vehicle"
                    asp-items="ViewBag.VehicleCategories"
                    class="form-control">
                    <option value="" selected>Category</option>
                </select>
            </div>

            
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <select asp-for="client"
                    asp-items="ViewBag.Client"
                    class="form-control">
                    <option value="" selected>Client</option>
                </select>
            </div>
            -->

            <div class="col-lg-4 col-md-6 px-2">
                <div class="input-append date form_datetime">
                    <label for="DeliveryBeginDate">Delivery Start Date:</label>
                    <input type="datetime-local" id="DeliveryBeginDateSearch" name="DeliveryBeginDateSearch">
                </div>
                <div class="input-append date form_datetime">
                    <label for="DeliveryEndDate">Delivery End Date:</label>
                    <input type="datetime-local" id="DeliveryEndDateSearch" name="DeliveryEndDateSearch">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 px-2">
                <div class="input-append date form_datetime">
                    <label for="RetrievalBeginDate">Retrieval Start Date:</label>
                    <input type="datetime-local" id="RetrievalBeginDateSearch" name="RetrievalBeginDateSearch">
                </div>
                <div class="input-append date form_datetime">
                    <label for="RetrievalEndDate">Retrieval End Date:</label>
                    <input type="datetime-local" id="RetrievalEndDateSearch" name="RetrievalEndDateSearch">
                </div>
            </div>

            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <button class="btn btn-primary btn-block mb-3" type="submit" style="height: 50px;">Search</button>
            </div>
        </div>
    </div>
}
<!-- Search End -->
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Begin Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReservationsList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.firstName)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.lastName)</td>
                <td>@Html.DisplayFor(modelItem => item.vehicle.brand)</td>
                <td>@Html.DisplayFor(modelItem => item.BeginDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td><a asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
            </tr>
        }
    </tbody>
</table>
