@model Rental4You.Models.Reservation

@{
    ViewData["Title"] = "VehicleState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vehicle State</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<h4>Edit Vehicle State</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VehicleState" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <input type="hidden" asp-for="vehicleId" value="@Model.vehicleId" />
            <input type="hidden" asp-for="ApplicationUserID" value="@Model.ApplicationUserID" />
            <input type="hidden" asp-for="ApplicationUser" value="@Model.ApplicationUser" />





            <!-- <h5>Vehicle State when delivered to the client</h5> -->

            <div class="form-group">
                <label asp-for="vehicleStateDelivery.NumberOfKmOfVehicle" class="control-label"></label>
                <input asp-for="vehicleStateDelivery.NumberOfKmOfVehicle" class="form-control" />
                <span asp-validation-for="vehicleStateDelivery.NumberOfKmOfVehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehicleStateDelivery.Damage" class="control-label"></label>
                <input type="checkbox" asp-for="vehicleStateDelivery.Damage" class="form-control" />
                <span asp-validation-for="vehicleStateDelivery.Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehicleStateDelivery.Observations" class="control-label"></label>
                <input asp-for="vehicleStateDelivery.Observations" class="form-control" />
                <span asp-validation-for="vehicleStateDelivery.Observations" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="vehicleStateDelivery.ApplicationUserID" class="control-label"></label>
                <input asp-for="vehicleStateDelivery.ApplicationUserID" class="form-control" />
                <span asp-validation-for="vehicleStateDelivery.ApplicationUserID" class="text-danger"></span>
            </div> -->



            <div class="form-group">
                <label asp-for="vehicleStateDelivery.ApplicationUserID" class="control-label"></label>
                <select asp-for="vehicleStateDelivery.ApplicationUserID" class="form-control" asp-items="ViewBag.Employers"></select>
                <span asp-validation-for="vehicleStateDelivery.ApplicationUserID" class="text-danger"></span>
            </div>


            <!-- <h5>Vehicle State when retrieved from the client</h5> -->

            <div class="form-group">
                <label asp-for="vehicleStateRetrieval.NumberOfKmOfVehicle" class="control-label"></label>
                <input asp-for="vehicleStateRetrieval.NumberOfKmOfVehicle" class="form-control" />
                <span asp-validation-for="vehicleStateRetrieval.NumberOfKmOfVehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehicleStateRetrieval.Damage" class="control-label"></label>
                <input asp-for="vehicleStateRetrieval.Damage" class="form-control" />
                <span asp-validation-for="vehicleStateRetrieval.Damage" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <div>
                    <img id="MyAvatar" class="img-thumbnail" />
                </div>
                <div>

                    <label>Pick images to show the damage (this only gets uploaded if the damage box is ticked):</label>
                    <input type="file"
                           name="filesDamage"
                           id="files"
                           multiple
                           accept=".png,.jpg,.jpeg,image/png,image/jpeg"
                           class="form-control" />
                    <span class="text-danger"></span> <!-- name of input has to be the same as the argument of the post method -->

                </div>
            </div>

            <div class="row d-flex">
                @if (ViewBag.FilesDamage != null)
                {
                    @foreach (var imgzz in ViewBag.FilesDamage)
                    {
                        <div class="col p-2 m-2" style="border-radius: 10px">
                            <a asp-action="deleteImage"
                       asp-route-id="@Model.vehicleStateRetrievalId"
                       asp-route-image="@imgzz">

                                <svg bootstrap-icon="XCircleFill"
                             onclick="return confirm('tem acerteza que deseja apagar esta imagem')"
                             class="text-danger" width="20" height="24"
                             aria-label="Trash"></svg>
                            </a>

                            <img src="@imgzz"
                         class="img-thumbnail"
                         style="max-width: 150px; max-height: 150px" />

                        </div>
                    }
                }
                


            </div>

            <div class="form-group">
                <label asp-for="vehicleStateRetrieval.Observations" class="control-label"></label>
                <input asp-for="vehicleStateRetrieval.Observations" class="form-control" />
                <span asp-validation-for="vehicleStateRetrieval.Observations" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="vehicleStateRetrieval.ApplicationUserID" class="control-label"></label>
                <select asp-for="vehicleStateRetrieval.ApplicationUserID" class="form-control" asp-items="ViewBag.Employers"></select>
                <span asp-validation-for="vehicleStateRetrieval.ApplicationUserID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
