@model Rental4You.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.company.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.company.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.company.classification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.company.classification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costPerDay)
        </dd>

        <dd class="col-sm-10">
            @if (Model.reservations == null)
            {
                <a>No vehicles to display</a>
            }
            @if (Model.reservations != null)
            {
                var counter = 0;
                @foreach (var reserv in Model.reservations)
                {
                    var vehicleDisplay = "reservation ID: " + reserv.Id; // + " reservation by " + reserv.ApplicationUser.firstName;
                    counter++;
                    if (counter == Model.reservations.Count)
                    {
                        vehicleDisplay += " ";
                    }
                    else
                    {
                        vehicleDisplay += ", ";
                    }
                    @Html.DisplayFor(modelItem => vehicleDisplay)
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
