@model Rental4You.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.company.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.company.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.company.classification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.company.classification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costPerDay)
        </dd>
        <dd class="col-sm-10">
            @if (Model.reservations == null)
            {
                <a>No reservations to display</a>
            }
            @if (Model.reservations != null)
            {
                var counter = 0;
                @foreach (var reserv in Model.reservations)
                {
                    var vehicleDisplay = "Reservation: ID: " + reserv.Id + ", Start Date: " + reserv.BeginDate + ", End Date: " + reserv.EndDate ; <br> //  + " reservation by " + reserv.ApplicationUser.firstName;
                    counter++;
                    if (counter == Model.reservations.Count)
                    {
                        vehicleDisplay += " ";
                    }
                    else
                    {
                        vehicleDisplay += ", ";
                    }

                    @Html.DisplayFor(modelItem => vehicleDisplay)
                }
            }
        </dd>


        @if (this.User.IsInRole("Employer") || this.User.IsInRole("Manager"))
        {
            
            <dt class="col-sm-2">
                <h5>Vehicle State below</h5>
            </dt>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.vehicleStateNow.NumberOfKmOfVehicle)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.vehicleStateNow.NumberOfKmOfVehicle)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.vehicleStateNow.Damage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.vehicleStateNow.Damage)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.vehicleStateNow.Observations)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.vehicleStateNow.Observations)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.vehicleStateNow.ApplicationUser.firstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.vehicleStateNow.ApplicationUser.firstName)
                </dd>

            <div class="row d-flex">
                @if (ViewBag.FilesDamage != null)
                {
                    @foreach (var imgzz in ViewBag.FilesDamage)
                    {
                        <div class="col p-2 m-2" style="border-radius: 10px">
                            <a asp-action="deleteImage"
                   asp-route-id="@Model.vehicleStateNow"
                   asp-route-image="@imgzz">

                                <svg bootstrap-icon="XCircleFill"
                         onclick="return confirm('tem acerteza que deseja apagar esta imagem')"
                         class="text-danger" width="20" height="24"
                         aria-label="Trash"></svg>
                            </a>

                            <img src="@imgzz"
                     class="img-thumbnail"
                     style="max-width: 150px; max-height: 150px" />

                        </div>
                    }
                }
            </div>
        }


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if(this.User.IsInRole("Employer"))
    {
        <a asp-action="CompanyVehicles">Back to List </a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
