@model Rental4You.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.company.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.withdraw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.withdraw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costPerDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
